

.title {
  font-size: xx-large;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-subtitle {
  font-size: 16px;
  color: rgb(17, 0, 83);
  margin-top: 0%;
}

.vertical-timeline-element-description {
  font-size: xx-small;
  color: black;
}


.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(41, 39, 122, 0.25),
    0 0.4em 1.25em 0 rgba(38, 126, 161, 0.15) !important;
  padding: 1em 1em !important;
  width : 100%;
}

.date {
  color: rgb(17, 64, 67);
}

#description {
  margin: 1em 0 0em 0;
  color: black;
  font-size: large 
  
}

.button {
  text-decoration: none;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  color: white;
}

.workButton {
  background-color: #004d5f;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
